{
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ]
  ],
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": "8"
        }
      }
    ]
  ]
}
